<p id="notice"><%= notice %></p>

<h1>Niifs</h1>

<table class="container">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @niifs.each do |niif| %>
      <tr>
        <td><%= niif.name %></td>
        <td><%= niif.number %></td>
        <td><%= link_to 'Show', niif %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


