<p id="notice"><%= notice %></p>

<h1 class="container first">Niifs</h1>

<table class="container text-center">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Número</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @niifs.each do |niif| %>
      <tr>
        <td><%= niif.name %></td>
        <td><%= niif.number %></td>
        <td><%= link_to 'Mirar', niif, class: "btn btn-outline-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


