.search-form {
  position: relative;
}

#search-results {
  position: absolute;
  top: 2.4em;
  background: rgba(255,255,255,.75);
  padding: 1em 2em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

#search-results .results {
  padding: 0;
}

#search-results .result {
 list-style: none;
}

#content {
  text-align: left;
}

