body {
  font-family: "Lobster" cursive;
  font-family: 'Itim', cursive;
  font-weight: bold;
}
.search-form {
  position: relative;
}

#search-results {
  position: absolute;
  top: 2.4em;
  background: crimson;
  padding: 1em 2em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  z-index: 3;
}

#search-results .results {
  padding: 0;
}

#search-results .result {
 list-style: none;
}

#search-results .result a {
  color: white;
  text-decoration: none;
  height: 3.75em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-results .result a:hover {
  color: rgb(36, 6, 1);
 }

#content {
  text-align: left;  
}

.title {
  padding-top: 13.5px;
}

div .card-deck {
  height: 400px;
  }
  
div .card-body {
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  color: #000000;
  }

.card-deck .card {
  margin-bottom: 26.19px;
}

p.card-body {
  font-size: 16px;
  font-weight: bold;
  font-family: "Lobster", cursive;
  }

.comentario {
  padding-top: 40px;
  padding-left: 37px;
  padding-right: 37px;
  background-color: #ffffff09;

}

#comentario {
    padding-bottom: 79.19px;
    width: 1156px;
    background-color:#ffffff02;
}

.comentario {
    padding-top: 20.32px;
    font-size: 15px;
    background-color: #ffffff00;
}

hr {
  margin-top: 7.5px;
  margin-bottom: 17px;
  height: 1pt;
  background-color: #000000;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; 
}

label {
  display: block; 
}

hr {
  margin-bottom: 17px;
  margin-top: 23.5px;
  font-weight: bold;
  justify-content: left;
  margin-top: 24px;
}

.hr-bottom {
  margin-top: -30px;
}

.hr-bottom {
  margin-top: 0px;
  margin-bottom: 38px;
  background-color: #00000f;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

ul {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}

li {
  margin-top: 12px;
  font-size: 10px;
  letter-spacing: 0.48px;
  font-weight: bold;
  color: crimson;
}

li {
  font-size: 15px;
  letter-spacing: 0.6px;
  font-weight: bold;
  line-height: 30px;
  color: crimson;
}

.hr {
  margin-bottom: 17px;
  margin-top: 23.5px;
  font-weight: bold;
  justify-content: left;
  margin-top: 24px;
}

h1 {
  font-size: 25px;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-align: left;
  color: white;
  padding-top: 13px;
  width: 425px;
  text-align: center;
}

.first {
  margin-bottom: 17px;
  margin-top: 23.5px;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
  color: crimson;
}

.second {
  text-align: center;
  justify-content:baseline;
}

a:visited {
  color: #666;
}

#notice {
  color: crimson; 
}

.info {
  padding-left: 37px;
  padding-right: 37px;
}

.info {
  padding-top: 40px;
  padding-left: 37px;
  padding-right: 37px;
  margin-bottom: 68px;
}

.d-flex {
  width: 100%;
  margin-top: 21px;
  font-weight: bold;
}

.d-flex {
  width: 100%;
  margin-top: 24px;
  font-weight: bold;
  justify-content: left;
  margin-top: 24px;
}

footer {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
  padding-left: 471.5px;
  padding-right: 471.5px;
  padding-top: 15px;
}

footer p {
  margin: 0px;
  padding: 0px;
  height: 36px;
}

footer {
  text-align: center;
  margin: 0;
  padding-bottom: 28px;
  padding-left: 19.5px;
  padding-right: 19.5px;
  padding-top: 41px;
}

footer p {
  margin: 0px;
  padding: 0px ;
}
  
.grafic {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Itim', cursive;
  color: crimson;
  }

  .danger {
    color: crimson;
  }

  .accordion {
    background-color:#343a40;
    color: white;
  }

