<h1 class="container">New News History</h1>

<%= render 'form', news_history: @news_history %>
<br>
<div class="text-center">
<%= link_to 'Back', news_histories_path, class: "btn btn-outline-danger" %>
</div>
