<br>
<p class="font-weight-bold container text-center">Commentarios</p>
<ul class="post_comments">
<% if comments.present? %>
  <% comments.map do |comment| %>
  <li><%= comment.body %></li>
  <% end %>
<% end %>
</ul>