<p id="notice"><%= notice %></p>

<h1 class="container first">Nics</h1>

<table class="container text-center">
  <thead>
    <tr>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |cate| %>
      <tr>
        <td><%= cate.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
<%= link_to 'Back', root_path, class: "btn btn-outline-danger" %>
</div>