<p id="notice"><%= notice %></p>

<h1 class="container first">Categorias</h1>

<table class="second container-fluid">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Number </th>
    
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.nics.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div class="text-center">
<%= link_to 'Back', root_path, class: "btn btn-outline-danger" %>
</div>